<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Magensky_Admintools>
            <version>1.0.0</version>
	        <stability>beta</stability>
            <depends>
                <!-- no dependencies -->
            </depends>
	        <license uri="http://opensource.org/licenses/osl-3.0.php">Open Software License (OSL)</license>
        </Magensky_Admintools>
    </modules>
    <global>
        <models>
            <admintools>
                <class>Magensky_Admintools_Model</class>
                <resourceModel>admintools_mysql4</resourceModel>
            </admintools>
            <admintools_mysql4>
            </admintools_mysql4>
        </models>
        <resources>
            <admintools_setup>
                <setup>
                    <module>Magensky_Admintools</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </admintools_setup>
            <admintools_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </admintools_write>
            <admintools_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </admintools_read>
        </resources>
        <blocks>
            <admintools>
                <class>Magensky_Admintools_Block</class>
            </admintools>
        </blocks>
        <helpers>
            <admintools>
                <class>Magensky_Admintools_Helper</class>
            </admintools>
        </helpers>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <admintools_core_block_abstract_to_html_after>
                        <class>admintools/observer</class>
                        <method>showTemplatePathHints</method>
                    </admintools_core_block_abstract_to_html_after>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <admintools>
                    <file>admintools.xml</file>
                </admintools>
            </updates>
        </layout>
        <translate>
            <modules>
                <admintools>
                    <files>
                        <default>Magensky_Admintools.csv</default>
                    </files>
                </admintools>
            </modules>
        </translate>
        <!--<menu>
            <magensky translate="title" module="adminhtml">
                <title>Magensky</title>
                <sort_order>80</sort_order>
                <children>
					<admintools>
						<title>Admintools</title>
                        <sort_order>10</sort_order>
                        <children>
							<manage_vendors>
								<title>Manage Attributes</title>
								<sort_order>10</sort_order>
								<action></action>
							</manage_vendors>
						</children>
					</admintools>
                </children>
            </magensky>
        </menu>-->
        <acl>
            <resources>
                <admin>
                    <children>
                        <vendor>
                            <title>Vendor</title>
                            <children>                                
                                <orders>
                                    <title>Orders</title>
                                </orders>
                                <transaction>
                                    <title>Transactions</title>
                                </transaction>
                                <review>
									<title>Reviews</title>
                                </review>
                            </children>
                        </vendor>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <admintools>
                                            <title>Admintools Section</title>
                                        </admintools>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
		<admintools>
            <template_path_hint>
                <active>0</active>
                <show_block>0</show_block>
                <code>show</code>
            </template_path_hint>
		</admintools>
    </default>
</config>
